#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=in-eng --xlayouts='in (eng)'
# System language
lang en_IN.UTF-8

# Network information
network  --bootproto=static --device=enp1s0 --gateway=192.168.11.254 --ip=192.168.11.12 --nameserver=8.8.8.8,10.3.208.1 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$ShIE32qbJj3/UPC9$wSqbkXrPQnnx9ua//9vrxn17iOkehBENBiDdevVWrq9LZ0utIYs6t4iBhBfXm/Js6L1Yxfqw2gAiEFnGWQ6S8.
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Kolkata --isUtc
user --groups=wheel --name=Admin --password=$6$wvkX9lP19XOX6Qeg$lYYfgm9o1ul92Yg4WPWVHCiv3vQRnS2wkxUYfVrPdMcfxquKw8RVC8lR7ZAR5oeBGAcjWMkiqIjLLxEwevLxC0 --iscrypted --gecos="Local"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda

%packages
@^gnome-desktop-environment
@base
@compat-libraries
@core
@desktop-debugging
@dial-up
@directory-client
@fonts
@gnome-apps
@gnome-desktop
@guest-agents
@guest-desktop-agents
@input-methods
@internet-browser
@java-platform
@legacy-x
@multimedia
@network-file-system-client
@networkmanager-submodules
@office-suite
@print-client
@system-admin-tools
@x11
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
