#version=DEVEL
# This is the original kickstarter from manual install on Volta DT-23
#
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sdb
# Keyboard layouts
keyboard --vckeymap=in-eng --xlayouts='in (eng)'
# System language
lang en_IN.UTF-8

# Network information
network  --bootproto=static --device=enp2s0 --gateway=192.168.11.254 --ip=192.168.11.53 --nameserver=8.8.8.8,10.3.208.1 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=templocalhost.localdomain

# Root password
rootpw --iscrypted $6$zy8hnAaCVgZAAXRv$8hVjNmAZA4pthFNjGzlxRY6f8x47bdrkHsBAQir8169xPRInSUC9mx4KazJrNINK5U1wz.3BpWbgOt0uj/eU8/
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Kolkata --isUtc
user --groups=wheel --name=centos --password=$6$/gLknAwT/tr8Ztca$sA6QReGV6h.8vXbGSezGRhIX2N14ayp1OwF2CKSYn0P7q8L/W74BiLdsv1AJ6X/UjL8YloyUyZHHW6V6nUMKt/ --iscrypted --gecos="centos"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sdb
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sdb

%packages
@^gnome-desktop-environment
@base
@compat-libraries
@core
@desktop-debugging
@dial-up
@directory-client
@fonts
@gnome-apps
@gnome-desktop
@guest-agents
@guest-desktop-agents
@input-methods
@internet-browser
@java-platform
@legacy-x
@multimedia
@network-file-system-client
@networkmanager-submodules
@office-suite
@print-client
@system-admin-tools
@x11
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
