#version=DEVEL
# This kickstarter file is for the desktops in the Volta lecture/training Labs.
# This is the same kickstarter file as anaconda-ks-von-dt.cfg except the
# /CAD /PDK mounts are from the srv03 instead of srv01 
# https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/installation_guide/sect-simple-install-kickstart
# https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/installation_guide/sect-kickstart-syntax
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
#graphical
# Use text mode installation
text

# Run the Setup Agent on first boot
firstboot --enable
# Ignoredisk set in the the partition section
ignoredisk --only-use=sdb
# Keyboard layouts
keyboard --vckeymap=in-eng --xlayouts='in (eng)'
# System language
lang en_IN.UTF-8

# Network information  (original: --device=enp1s0)
# **NOTE** THE IP ADDRR AND HOSTNAME NEEDS TO BE CHANGED 
# AFTER INSTALLATION USING nmtui OR nmcli
network  --bootproto=static --device=link --gateway=192.168.11.254 --ip=192.168.11.14 --nameserver=10.3.208.1,8.8.8.8 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=temp.vlsi.silicon.ac.in

# VNCviewer to watch the installation process
# vnc --host=[] --port=[] (default: 5900) --password=password
#vnc --port=5900 

# Root password
rootpw --iscrypted $6$ShIE32qbJj3/UPC9$wSqbkXrPQnnx9ua//9vrxn17iOkehBENBiDdevVWrq9LZ0utIYs6t4iBhBfXm/Js6L1Yxfqw2gAiEFnGWQ6S8.
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Kolkata --isUtc
user --groups=wheel,localsim --name=centos --shell=/bin/csh --password=$6$wvkX9lP19XOX6Qeg$lYYfgm9o1ul92Yg4WPWVHCiv3vQRnS2wkxUYfVrPdMcfxquKw8RVC8lR7ZAR5oeBGAcjWMkiqIjLLxEwevLxC0 --iscrypted --gecos="Local User"
# X Window System configuration information.
# Do not use this for systems without X-Window System
xconfig  --startxonboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sdb
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sdb

# The file /tmp/part-include is created below in the %pre section
# to dtermine the installable drive automatically
#%include /tmp/part-include

## Added Mount logical volume /home with quota option 
## NOTE: Cannot use this with auto partition
#logvol /home --vgname=centos --name=home --noformat --fstype=xfs --fsoptions="defaults,uquota,gquota,pquota" 

# Added this to automatically accept End-User agreement
# Not sure if this is the right place. Will see
eula --agreed

# added --multilib --ignoremissing
%packages --multilib --ignoremissing
@^gnome-desktop-environment
@base
@compat-libraries
@core
@desktop-debugging
@dial-up
@directory-client
@fonts
@gnome-apps
@gnome-desktop
@guest-agents
@guest-desktop-agents
@input-methods
@internet-browser
@java-platform
@legacy-x
@multimedia
@network-file-system-client
@networkmanager-submodules
@office-suite
@print-client
@system-admin-tools
@x11
chrony
kexec-tools

# necessary packages
environment-modules 
tree 
tigervnc-server 
subversion 
numpy
python-matplotlib 
tcl 
tk 
ypbind 
rpcbind
## packages for Cadence/Siemens
glibc 
glibc.i686 
elfutils-libelf 
ksh 
mesa-libGL 
mesa-libGLU
motif 
libXp 
libpng 
libjpeg-turbo 
expat glibc-devel
gdb 
xorg-x11-fonts-misc 
xorg-x11-fonts-ISO8859-1-75dpi
redhat-lsb 
libXScrnSaver 
apr 
apr-util 
compat-db47
xorg-x11-server-Xvfb 
mesa-dri-drivers 
openssl-devel 
cronie-anacron

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

## Post Installation configs
%post --log=/root/ks-post.log

## Add servers,etc to hosts
cat << EOF >> /etc/hosts
192.168.11.221  srv01.vlsi.silicon.ac.in srv01
192.168.11.229  srv02.vlsi.silicon.ac.in srv02 cdslicsrv.vlsi.silicon.ac.in cdslicserv mgclicsrv.vlsi.silicon.ac.in mgclicserv
192.168.11.237  srv03.vlsi.silicon.ac.in srv03
EOF

## Create directories for NFS mounts
mkdir /CAD
chown nfsnobody:nfsnobody /CAD
mkdir /PDK
chown nfsnobody:nfsnobody /PDK
mkdir /home/nfs1
chown nfsnobody:nfsnobody /home/nfs1
mkdir /home/nfs2
chown nfsnobody:nfsnobody /home/nfs2

## ADd the nfs mounts to fstab
cat << EOF >> /etc/fstab
srv01:/home/nfs1	/home/nfs1	nfs	noatime,rsize=32768,wsize=32768
srv01:/home/nfs2	/home/nfs2	nfs	noatime,rsize=32768,wsize=32768
srv03:/cad/CAD1		/CAD		nfs	noatime,rsize=32768,wsize=32768
srv03:/pdk/PDK1		/PDK		nfs	noatime,rsize=32768,wsize=32768
EOF

# Mount it
mount -a
# Link silicon.csh
ln -s /CAD/apps7/etc/silicon.csh /etc/profile.d/.

#Link cron.daily
ln -s /CAD/apps7/bin/cron.daily.silicon /etc/cron.daily/.


# Setup NIS client
ypdomainname vlsi.silicon.ac.in
echo "NISDOMAIN=vlsi.silicon.ac.in" >> /etc/sysconfig/network
authconfig --enablenis --nisdomain=vlsi.silicon.ac.in --nisserver=srv01.vlsi.silicon.ac.in --update
systemctl start rpcbind ypbind
systemctl enable rpcbind ypbind

## create local sim diretory
mkdir -p /home/local/simulation
chgrp localsim /home/local/simulation
chmod g=swrx,+t /home/local/simulation

## Create /home/local/docs
mkdir /home/local/docs

# set quota for the /home/local/simulation
echo 01:/home/local/simulation >> /etc/projects
echo localsim:01 >> /etc/projid
# Folllwoing steps have to be done post install after adding quota option is fstab
#
#xfs_quota -x -c 'project -s localsim' /home
#xfs_quota -x -c 'limit -p bsoft=95G bhard=100G localsim' /home

##Finally CPAN Shell which will be interactive for the first time
## I think there is a timeout for response so need to attend it.
##**NOTE** THis was req only in siproj script that was not necessary
#cpan Shell

%end


